<html ng-app="shouldyoufollow">
<head>
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
  >

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">


  <title>Should you follow?</title>
</head>

<body ng-controller="MainCtrl as ctrl">

<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <h1 class="text-center">
      Enter someone's Twitter handle:
    </h1>
    
    <form ng-submit="submitSnForm()">
      <fieldset ng-disabled="disableSnForm">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="screenName" />
        </div>
        
        <div class="text-center">
          <input type="checkbox" ng-model="includeRts" /> Inclue RTs
        </div>
        
        <button type="submit" class="btn btn-primary center-block">
          Submit
        </button>
      </fieldset>
    </form>
    
    <!-- TODO put these side by side and other aesthetic improvements -->
    <button class="btn btn-primary center-block" ng-click="nextTweet(1)">
      Thumbs up
    </button>
    <button class="btn btn-primary center-block" ng-click="nextTweet(0)">
      Thumbs down
    </button>

    <div ng-repeat="tweet in tweets" ng-show="tweet.key == iterator">
      <blockquote class="twitter-tweet">
        <a href="https://twitter.com/{{screenName}}/status/{{tweet.id_str}}"></a>
      </blockquote>
    </div>

  </div>
  <div class="col-md-3">
  </div>
</div>


<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
></script>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"
></script>


<script 
  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"
></script>
<script src="app.js"></script>
</body>
</html>
